@font-face {
	font-family: 'AvenirNextCyr-Regular';
	src: url('~@/assets/fonts/Avenir/avenirnextcyr-regular.eot');
	src: url('~@/assets/fonts/Avenir/avenirnextcyr-regular.eot?#iefix') format('embedded-opentype'),
		url('~@/assets/fonts/Avenir/avenirnextcyr-regular.woff2') format('woff2'),
		url('~@/assets/fonts/Avenir/avenirnextcyr-regular.woff') format('woff'),
		url('~@/assets/fonts/Avenir/avenirnextcyr-regular.ttf') format('truetype'),
		url('~@/assets/fonts/Avenir/avenirnextcyr-regular.svg#avenirnextcyr-regular') format('svg');
}

@font-face {
	font-family: 'AvenirNextCyr-Light';
	src: url('~@/assets/fonts/Avenir/avenirnextcyr-light.eot');
	src: url('~@/assets/fonts/Avenir/avenirnextcyr-light.eot?#iefix') format('embedded-opentype'),
		url('~@/assets/fonts/Avenir/avenirnextcyr-light.woff2') format('woff2'),
		url('~@/assets/fonts/Avenir/avenirnextcyr-light.woff') format('woff'),
		url('~@/assets/fonts/Avenir/avenirnextcyr-light.ttf') format('truetype'),
		url('~@/assets/fonts/Avenir/avenirnextcyr-light.svg#avenirnextcyr-light') format('svg');
}

@font-face {
	font-family: 'AvenirNextCyr-Bold';
	src: url('~@/assets/fonts/Avenir/avenirnextcyr-bold.eot');
	src: url('~@/assets/fonts/Avenir/avenirnextcyr-bold.eot?#iefix') format('embedded-opentype'),
		url('~@/assets/fonts/Avenir/avenirnextcyr-bold.woff2') format('woff2'),
		url('~@/assets/fonts/Avenir/avenirnextcyr-bold.woff') format('woff'),
		url('~@/assets/fonts/Avenir/avenirnextcyr-bold.ttf') format('truetype'),
		url('~@/assets/fonts/Avenir/avenirnextcyr-bold.svg#avenirnextcyr-bold') format('svg');
}
